<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.darabni">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.premission.Manifest.MODIFY_PHONE_STATE"/>

    <application
        android:name=".parseDataServer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:targetSandboxVersion="1"
        android:theme="@style/Theme.Design.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".AboutUs"></activity>
        <activity android:name=".RequestInfo" />
        <activity android:name=".problems" />
        <activity android:name=".CenterListItem" />
        <activity android:name=".showCarInfoRelatedForCenter" />
        <activity android:name=".showCoachInfoRelatedForCenter" />
        <activity android:name=".displayCoachList" />
        <activity android:name=".requestList" />
        <activity android:name=".AddNewCar" />
        <activity android:name=".AddNewCoach" />
        <activity android:name=".SeeLastRequest" />
        <activity android:name=".CenterMainScreen" />
        <activity android:name=".sendRequest" />
        <activity android:name=".CarInfo" />
        <activity android:name=".ShowCoachInfo" />
        <activity android:name=".searchForCoach" />
        <activity android:name=".ModifyTrainerInfo" />
        <activity android:name=".MainTrainerScreen" />
        <activity android:name=".manageCenter" />
        <activity android:name=".CenterInfoScreen" />
        <activity android:name=".ReviewContent" />
        <activity android:name=".ReviewsList" />
        <activity android:name=".SuperVisorMainScreen" />
        <activity android:name=".SuperVisorLogin" />
        <activity android:name=".Resetpassword2" />
        <activity android:name=".ResetPassword1" />
        <activity android:name=".CenterSignup" />
        <activity android:name=".TrainerSignup" />
        <activity android:name=".Signup" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>